@import './reset.scss';
@import './variables.scss';
@import './animations.scss';

html, body {
  background: var(--white);
  color: var(--gray-300);
  font-family: Arial, Helvetica, sans-serif;
}

input {
  font-family: Arial, Helvetica, sans-serif;
}

.page-title {
  font-size: var(--text-lg);
  font-weight: bold;
}