:root {
  // Colors
  --color-primary: #f9ad31;
  --color-primary-darker: #ffbb4d;
  --color-white: #ffffff;
  --color-gray-100: #efefec;
  --color-gray-200: #686866;
  --color-gray-300: #2d2d2d;

  // Breakpoints
  --lg: 1200px;

  // Text
  --text-lg: 2rem;
  --text-md: 1.4rem;
  --text-base: 1rem;
  --text-sm: 0.9rem;

  // Shadows
  --shadow-sm: 0 2px 3px rgba(0, 0, 0, 0.06);
  --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.06);
  --shadow-lg: 0 6px 9px rgba(0, 0, 0, 0.06);

  // Default theme
  --font-color: var(--color-gray-300);
  --bg-color: var(--color-white);  
  --loading-color: var(--color-gray-100);  
}

[data-theme="dark"] {
  --font-color: var(--color-white);
  --bg-color: var(--color-gray-300);  
  --loading-color: var(--color-gray-200);  
}