:root {
  // Colors
  --primary: #ea212e;
  --secondary: #f9ad31;
  --white: #ffffff;
  --gray-100: #efefec;
  --gray-200: #686866;
  --gray-300: #2d2d2d;

  // Text
  --text-lg: 2rem;
  --text-md: 1.4rem;

  // Shadows
  --shadow-sm: 0 2px 3px rgba(0, 0, 0, 0.04);
}